*
{
  background-color: black;
  color: lightgrey;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

body
{
  margin: 5% 30%;
}

#carrousel
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#conteneur
{
  height: 200px;
  width: 267px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid white; */
}

#images
{
  position: absolute;
  height: 200px;
  left: -20px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-transition: 1s; /* Safari */
  -moz-transition: 1s;
  transition: 1s;
}

img
{
  margin: 0 20px;
  clip:rect(-100px,0px,0px,-50px);
}

button
{
  font-size: 5em;
  border: none;
}

img
{
  height: 200px;
}
